telegram_config = {
    'bot_key': '',
    'notified_chat_ids': [
        ''
    ],
    'base_url': '',
}

ptt_config = {
    'monitor_interval': 30, # seconds
    'checked_posts_db': '',
    'monitor_boards': [
        ''
    ],
    'base_url': 'https://www.ptt.cc',
}

filter_config = {
    'case_sensitive': False,
    'required_keywords': [
        ''
    ],
    'optional_keywords': [
        ''
    ],
}
