telegram_config = {
    'bot_key': '', # your telegram bot secret key
    'notified_chat_ids': [ # the chats you want this bot to send notifies to
        '' 
    ],
    'base_url': 'https://api.telegram.org/bot',
}

ptt_config = {
    'monitor_interval': 30, # seconds
    'checked_posts_db': '',
    'monitor_boards': [
        'HardwareSale'
    ],
    'base_url': 'https://www.ptt.cc',
}

filter_config = {
    'case_sensitive': False,
    'required_keywords': [
        '1080'
    ],
    'optional_keywords': [
        'msi', '微星'
    ],
}
